body {
    margin: 0;
}

#header {
    width: 100%;
    height: 90px;
}

#feedFlow {
    width: auto;
    height: 300px;
    background-color: #8a8a8a;
}

#feedFlow ul {
    background-color: #4169E1;
    width: 1410px;
    height: 300px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.threadContainer {
    margin-right: 20px;
    float: left;
    height: 100%;
    width: 240px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.threadPhoto {
    height: 240px;
    width: 240px;
    background-color: #40e16d;
    -webkit-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.threadInfo {
    height: 60px;
    width: 240px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}

#card1 {
    margin-left: 40px;
    background-color: red;
}

#card2 {
    background-color: orange;
}

#card3 {
    background-color: yellow;
}

#card4 {
    background-color: green;
}

#card5 {
    margin-right: 40px;
    background-color: blue;
}

#statusBar {
    width: 100%;
    height: 50px;
    background-color: #8D7EE0;
}

#tabBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#tabBar ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabBar ul li {
    width: 20%;
    height: 100%;
    float: left;
}

#feedButton {
    background-color: #81F781;
}

#friendsButton {
    background-color: #0080FF;
}

#composeButton {
    background-color: #FA58D0;
}

#notificationButton {
    background-color: #faf964;
}

#moreButton {
    background-color: #fa4049;
}