
body{
	margin: 0px;
}

#header {
    height: 150px;
    width: 100%;
}

#feedFlow{
	width : 100%;
	overflow: hidden;
}
#feedFlow ul{
	height: 100%;
	list-style:none;
	padding: 0px;	
	margin: 0px;
	position: relative;
}
#feedFlow ul li{
	float: left;
	height: 300px;	
}
#red{
	background-color: red;
}
#orange{
	background-color: orange;
}
#yellow{
	background-color: yellow;
}
#green{
	background-color: green;
}
#blue{
	background-color: blue;
}

#tabBar {
    width: 100%;
    height : 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#tabBar ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

#tabBar ul li {
    width: 20%;
    height: 100%;
    float: left;
}

.threadContainer {
    float: left;
    height: 100%;
    width: 240px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.threadWrapper {
	margin-left: 10px;
	margin-right: 10px;
	height: 300px;
	width: auto;
}

.threadPhoto {
	width : 100%;
	height: 260px;
    background-color: #3d3e3d;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.threadInfo {
    width: 100%;
    height : 40px;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-color: #8a8a8a;
}


#feedButton {
    background-color: #81F781;
}

#friendsButton {
    background-color: #0080FF;
}

#composeButton {
    background-color: #FA58D0;
}

#notificationButton {
    background-color: #faf964;
}

#moreButton {
    background-color: #fa4049;
}